# use glob syntax
syntax: glob

# User-specific files
*.suo
*.user
*.sln.docstates
.vs/


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Dd]ist/
[Ss]erverFiles*/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
*.orig

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


~$*
*~

# Microsoft Fakes
FakesAssemblies/
*.suo
*.testsettings
*.suo
*.user
*.vsmdi
